In [3]:
import pandas as pd
import numpy as np

In [4]:
sales = [{'account': 'jones LLC', 'Jan': 150, 'Feb' : 200 , 'Mar' : 140},
         {'account': 'Alpha Co', 'Jan': 200, 'Feb' : 210, 'Mar': 215},
         {'account': 'Blue Inc', 'Jan':50, 'Feb' : 90, 'Mar' :95}]
df = pd.DataFrame(sales)
df

     account  Jan  Feb  Mar
0  jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [5]:
labels = ['account', 'Jan', 'Feb', 'Mar']
sales = [('jones LLC',150,200,140),('Alpha Co',200,210,215),('Blue Inc',50,90,95)]
df = pd.DataFrame.from_records(sales, columns=labels)
df

     account  Jan  Feb  Mar
0  jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [6]:
sales = {'account': ['jones LLC', 'Alpha Co', 'Blue Inc'],'Jan':[150,200,50],'Feb':[200,210,90],'Mar':[140,215,95]}
df = pd.DataFrame.from_dict(sales)
df

     account  Jan  Feb  Mar
0  jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [8]:
sales = [('account',['jones LLC', 'Alpha Co', 'Blue Inc']),('Jan',[150,200,50]),('Feb',[200,210,215]),('Mar',[140,215,95])]
df = pd.DataFrame.from_dict(sales)
df

         0                                1
0  account  [jones LLC, Alpha Co, Blue Inc]
1      Jan                   [150, 200, 50]
2      Feb                  [200, 210, 215]
3      Mar                   [140, 215, 95]

In [12]:
import requests

url_temp = "https://restcountries.com/v3.1/name/"
country = 'South Korea'
url = url_temp + country
print(url)
response = requests.get(url)
print(response.text)

https://restcountries.com/v3.1/name/South Korea
[{"name":{"common":"South Korea","official":"Republic of Korea","nativeName":{"kor":{"official":"대한민국","common":"한국"}}},"tld":[".kr",".한국"],"cca2":"KR","ccn3":"410","cca3":"KOR","cioc":"KOR","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"KRW":{"name":"South Korean won","symbol":"₩"}},"idd":{"root":"+8","suffixes":["2"]},"capital":["Seoul"],"altSpellings":["KR","Korea, Republic of","Republic of Korea","남한","남조선"],"region":"Asia","subregion":"Eastern Asia","languages":{"kor":"Korean"},"translations":{"ara":{"official":"جمهورية كوريا","common":"كوريا الجنوبية"},"bre":{"official":"Republik Korea","common":"Korea ar Su"},"ces":{"official":"Korejská republika","common":"Jižní Korea"},"cym":{"official":"Republic of Korea","common":"South Korea"},"deu":{"official":"Republik Korea","common":"Südkorea"},"est":{"official":"Korea Vabariik","common":"Lõuna-Korea"},"fin":{"official":"Korean tasavalta","common":"Etelä-Korea"},"fra":{"official":"République de Corée","common":"Corée du Sud"},"hrv":{"official":"Republika Koreja","common":"Južna Koreja"},"hun":{"official":"Koreai Köztársaság","common":"Dél-Korea"},"ita":{"official":"Repubblica di Corea","common":"Corea del Sud"},"jpn":{"official":"大韓民国","common":"韓国"},"kor":{"official":"대한민국","common":"한국"},"nld":{"official":"Republiek Korea","common":"Zuid-Korea"},"per":{"official":"جمهوری کره","common":"کرهٔ جنوبی"},"pol":{"official":"Republika Korei","common":"Korea Południowa"},"por":{"official":"República da Coreia","common":"Coreia do Sul"},"rus":{"official":"Республика Корея","common":"Южная Корея"},"slk":{"official":"Kórejská republika","common":"Južná Kórea"},"spa":{"official":"República de Corea","common":"Corea del Sur"},"srp":{"official":"Република Кореја","common":"Јужна Кореја"},"swe":{"official":"Republiken Korea","common":"Sydkorea"},"tur":{"official":"Kore Cumhuriyeti","common":"Güney Kore"},"urd":{"official":"جمہوریہ کوریا ","common":"جنوبی کوریا"},"zho":{"official":"大韩民国","common":"韩国"}},"latlng":[37.0,127.5],"landlocked":false,"borders":["PRK"],"area":100210.0,"demonyms":{"eng":{"f":"South Korean","m":"South Korean"},"fra":{"f":"Sud-coréenne","m":"Sud-coréen"}},"flag":"\uD83C\uDDF0\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/7ecjaJXefjAQhxjGA","openStreetMaps":"https://www.openstreetmap.org/relation/307756"},"population":51780579,"gini":{"2016":31.4},"fifa":"KOR","car":{"signs":["ROK"],"side":"right"},"timezones":["UTC+09:00"],"continents":["Asia"],"flags":{"png":"https://flagcdn.com/w320/kr.png","svg":"https://flagcdn.com/kr.svg","alt":"The flag of South Korea has a white field, at the center of which is a red and blue Taegeuk circle surrounded by four black trigrams, one in each corner."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/kr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/kr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[37.55,126.98]},"postalCode":{"format":"SEOUL ###-###","regex":"^(?:SEOUL)*(\\d{6})$"}}]