In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sales = [{'account': 'jones LLC', 'Jan': 150, 'Feb' : 200 , 'Mar' : 140},
         {'account': 'Alpha Co', 'Jan': 200, 'Feb' : 210, 'Mar': 215},
         {'account': 'Blue Inc', 'Jan':50, 'Feb' : 90, 'Mar' :95}]
df = pd.DataFrame(sales)

In [3]:
df

     account  Jan  Feb  Mar
0  jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95