In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [7]:
tips['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [6]:
tips['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [8]:
pd.crosstab(tips['sex'],tips['day'])

day     Thur  Fri  Sat  Sun
sex
Male      30   10   59   58
Female    32    9   28   18

In [9]:
pd.crosstab(tips['sex'],tips['day'],margins=True)

day     Thur  Fri  Sat  Sun  All
sex
Male      30   10   59   58  157
Female    32    9   28   18   87
All       62   19   87   76  244

In [12]:
pd.crosstab(tips['sex'],tips['day']).apply(lambda x: x/len(tips), axis=1)

day         Thur       Fri       Sat       Sun
sex
Male    0.122951  0.040984  0.241803  0.237705
Female  0.131148  0.036885  0.114754  0.073770